<div id="report" class="tab-pane fade in active">
		 <table style="margin-top:20px">
<div ng-app="routerApp" ng-controller="vnfimsfuncController">
<tr>
<th>VNF Name</th>
<th>VNF Type</th>
<th>Status</th>
<th>Date</th>
<th>Report</th>
</tr>

<tr >
<!--
<td>vyos1</td>                     
<td>vRouter</td>   -->
<td>Perimeta</td>
<td>VPCSCF</td>
<td>Completed</td>
<td>{{imsexdate}}</td>
<td><a target="_blank" href="./Imsreport.html">View</a></td>
</tr>

</table>
	  </div>
	</div>
	