<div class="container-fluid">
<div class="row">
<div ng-include="'sidenav.html'"></div>
	<div class="col-md-12 frame" >
	<div style="float: left;padding: 10px;background-color: #a7a9ac;width: 100%;font-size: 18px;color: white;margin-bottom: 20px;">
	<span style="font-weight:bold">VNF Image Upload</span>
</div>
   <ul class="nav nav-tabs"  >
    <li class="active" style="width:20% !important;text-align: center;"><a data-toggle="tab" ng-click="gotobimg1('sbcupload.html')">Upload</a></li>   
   <li style="width:20% !important;text-align: center;"><a data-toggle="tab"  ng-click="gotobimg1('sbcview.html')" >View</a></li>
      
  </ul>
  <div ng-include="ibpath"/>  
</div>
</div>
</div>