<div class="nav-side-menu" >
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li style="padding-left:30px;margin-top:5%" > 
			<i class="material-icons">dashboard</i> <a ui-sref="dashboard"> Dashboard </a>
            </li>
			
            <li data-toggle="collapse" data-target="#products" class="collapsed " style="padding-left:30px;margin-top:5%" >
			<i class="material-icons">cloud_upload</i> <a ui-sref="vnfgonboard"> VNF Onboarding </a>
            </li>
			
			<li data-toggle="collapse" data-target="#products" class="collapsed " style="padding-left:30px;margin-top:5%" >
			<i class="material-icons">link</i> <a ui-sref="testmanagement"> Functional Test Management </a>
            </li>


     	<!--	<li data-toggle="collapse" data-target="#new" class="collapsed" style="padding-left:30px;margin-top:5%" >
			   <i class="material-icons">view_list</i> <a ng-click="showDiv = !showDiv"> VNF Functional Test</a>
			<div id="new" class="collapsed"  ng-show="showDiv">
                <ul data-toggle="listview">	
				  <li data-toggle="collapse" data-target="#products" class="collapsed " style="padding-left:30px">
                   <a href="#" ui-sref="testcaseadd">Test Case Creation</a> 
                  </li>
				  <li data-toggle="collapse" data-target="#products" class="collapsed " style="padding-left:30px">
                   <a href="#" ui-sref="vnfFunc"> VNF Test Execution </a>
                  </li>
			    </ul>
			</div>				
            </li> -->
	   
	   
                    
        </ul>
    </div>
</div>
