<div class="container-fluid">
<div class="row">
<div ng-include="'sidenav.html'"></div>
<div class="col-md-12 frame" >
<div style="float: left;padding: 10px;background-color: #a7a9ac;width: 100%;font-size: 18px;color: white;margin-bottom: 20px;">
	<span style="font-weight:bold">TestCase Creation</span>
</div>

	<ul class="nav nav-tabs" >
    <li id="test" class="active"><a data-toggle="tab"  ng-click="gotofun('testcasesad.html')">TC Creation</a></li>
       
  </ul>
    <div ng-include="tpath"/>
</div>
</div>
</div>