<div class="container-fluid">
<div class="row">
<div ng-include="'sidenav.html'"></div>
<div class="col-md-9 frame" >
<div style="float: left;padding: 10px;background-color: #a7a9ac;width: 100%;font-size: 18px;color: white;margin-bottom: 20px;">
	<span style="font-weight:bold" >Enterprise VNF Onboard</span>
</div>
	<ul class="nav nav-tabs"  >
   <li class="active" style="width:25% !important;text-align: center;"><a data-toggle="tab" ng-click="gotoonbrd('imsonbord.html')" >Onboard</a></li>   
   
      
  </ul>
  <div ng-include="onbpath"/>  
</div>
</div>
</div>